<link rel="stylesheet" href="./public/css/style.css">
<footer style="text-align:center;">
<a class="ftr" href="https://www.linkedin.com/in/gautam-kumar-3ab861117/"><i class="fab fa-linkedin-in"></i>LinkedIn</a>
<a class="ftr" href="https://www.youtube.com/channel/UCyetPErepTo_-v1GUzpoFSA"><i class="fab fa-youtube"></i>YouTube</a>
<p class='ftrp'>Copyright©tHE RGVtech@2021 </p>
</footer>
</body>
</html>
