
<%- include('header'); -%>
<h1>This is home page</h1>
<p>Connecting with us forever</p>
<div >
  <button class="home" type="button" name="button"><a href="/register">Sign up!!</a></button><br>
  <button class="home" type="button" name="button"><a href="/login">Login</a></button>




</div>
<%- include('footer'); -%>
