<%- include('header'); -%>
<br>
<a href="/logout">Back on Home</a>
<div class="content">
  <button type="button" name="button"><a href="/logout">Logout</a></button>
  <button type="button" name="button"><a href="/register">Sign up!!</a></button>
  <button type="button" name="button"><a href="/login">Login</a></button>
</div>
<h1>Welcome to tHE RGVtech</h1>
<h4 style="color:white;">Contact</h4>
<div class="contact">
  <i class="fas fa-envelope"><a href="mailto:gautam.kumar478@yahoo.com?subject=feedback">Email me</a></i>
  <br>
  <i class="fab fa-whatsapp"><a href="https://wa.me/919675713485">Whatsapp</a></i>

</div>


<%- include('footer'); -%>
